@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-1: 25, 75, 251;
    --primary-2: 67, 108, 255;
    --primary-3: 149, 173, 255;
    --primary-4: 191, 205, 255;
    --primary-5: 232, 237, 255;
    --secondary-1: 26, 32, 44;
    --secondary-2: 93, 106, 131;
    --secondary-3: 150, 163, 190;
    --secondary-4: 216, 227, 248;
    --secondary-5: 242, 246, 255;
    --success-1: 22, 163, 74;
    --success-2: 34, 197, 94;
    --success-3: 74, 222, 128;
    --success-4: 34, 197, 94;
    --warning-1: 234, 179, 8;
    --warning-2: 250, 204, 21;
    --warning-3: 253, 224, 71;
    --error-1: 221, 51, 51;
    --error-2: 255, 71, 71;
    --error-3: 255, 113, 113;
    --error-4: 255, 120, 75;
    --gray-50: 250, 250, 250;
    --gray-100: 247, 250, 252;
    --gray-200: 237, 242, 247;
    --gray-300: 226, 232, 240;
    --gray-400: 203, 213, 224;
    --gray-500: 160, 174, 192;
    --gray-600: 113, 128, 150;
    --gray-700: 42, 49, 60;
    --gray-800: 35, 43, 56;
    --gray-900: 26, 32, 44;
    --white: 255, 255, 255;
    --orange: 255, 120, 75;
    --amber: 255, 200, 55;
    --purple: 147, 109, 255;

    /* Font Size */
    --font-s-10: 10px;
    --font-s-12: 12px;
    --font-s-14: 14px;
    --font-s-16: 16px;
    --font-s-20: 20px;
    --font-s-24: 24px;
    --font-s-32: 32px;
    --font-s-40: 40px;
    --font-s-48: 48px;

    /* Font Weight */
    --font-w-400: 400;
    --font-w-500: 500;
    --font-w-600: 600;
    --font-w-700: 700;
    --font-w-800: 800;
    --font-w-900: 900;

    /* Line Height */
    --line-h-20: 20px;
    --line-h-30: 30px;
    --line-h-68: 68px;
  }

  .dark {
    --primary-1: 25, 75, 251;
    --primary-2: 67, 108, 255;
    --primary-3: 149, 173, 255;
    --primary-4: 191, 205, 255;
    --primary-5: 232, 237, 255;
    --secondary-1: 26, 32, 44;
    --secondary-2: 93, 106, 131;
    --secondary-3: 42, 49, 60;
    --secondary-4: 216, 227, 248;
    --secondary-5: 35, 43, 56;
    --success-1: 22, 163, 74;
    --success-2: 34, 197, 94;
    --success-3: 74, 222, 128;
    --success-4: 34, 197, 94;
    --warning-1: 234, 179, 8;
    --warning-2: 250, 204, 21;
    --warning-3: 253, 224, 71;
    --error-1: 221, 51, 51;
    --error-2: 255, 71, 71;
    --error-3: 255, 113, 113;
    --error-4: 255, 120, 75;
    --gray-50: 35, 43, 56;
    --gray-100: 247, 250, 252;
    --gray-200: 42, 49, 60;
    --gray-300: 42, 49, 60;
    --gray-400: 203, 213, 224;
    --gray-500: 160, 174, 192;
    --gray-600: 113, 128, 150;
    --gray-700: 237, 242, 247;
    --gray-800: 250, 250, 250;
    --gray-900: 255, 255, 255;
    --white: 26, 32, 44;
    --orange: 255, 120, 75;
    --amber: 255, 200, 55;
    --purple: 147, 109, 255;
  }
}

@layer base {
  * {}

  body {
    font-family: "Manrope", sans-serif;
  }

  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #436CFF;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: #16A34A;
  }

  @layer utilities {
    .max-h-screen-viewport-less-48 {
      min-height: calc(100vh - 48px);
    }

    .box-shadow {
      box-shadow: 0px 16px 24px 0px #5D6A8305;
    }

    .dropdown-box-shadow {
      box-shadow: 8px 16px 32px 0px #71809614;

    }

    .otp-input {
      @apply p-5 leading-8 border border-gray-300 border-solid rounded-xl h-14 w-14 text-24 font-800;

    }
  }
}